{% extends "layouts/layout.html" %}
{% block content %}
          <div class="right_col" role="main">
                    <div class="page-title">
						<div class="title_left">
							<h3>Create Membership Plans</h3>
						</div>
						<div class="title_right">
							<div class="col-md-5 col-sm-5  form-group pull-right top_search">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Search for...">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">Go!</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12 col-sm-12 ">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="plan_name">Plan Name</label>
									<input id="plan_name" type="text" class="form-control" placeholder="Plan Name">
								</div>
								<div class="form-group">
									<label for="description">Description</label>
									<textarea id="description" type="text" class="form-control" placeholder="Description">
									</textarea>
								</div>
								<div class="form-group">
									<label for="schedule_day">Total Members</label>
									<select id="schedule_day" class="form-control">
										<option value="1">1st Day of Month</option>
										<option value="2">2nd Day of Month</option>
										<option value="3">3rd Day of Month</option>
										<option value="4">4th Day of Month</option>
										<option value="5">5th Day of Month</option>
									</select>
								</div>
								<div class="form-group">
									<label for="schedule_term">Schedule Term</label>
									<select id="schedule_term" class="form-control">
										<option value="monthly">Monthly</option>
										<option value="quarterly">Quarterly</option>
										<option value="annually">Annually</option>
									</select>
								</div>
								<div class="form-group">
									<label for="currency">Currency</label>
									<select class="form-control" id="currency">
										<option value="USD">American Dollars</option>
										<option value="ZAR">South African Rands</option>
									</select>
								</div>
								<div class="form-group">
									<label for="payment_amount">Payment Amount</label>
									<input id="payment_amount" type="number" class="form-control" placeholder="150" />
								</div>
								<div class="form-group">
									<label for="registration_amount">Registration Amount</label>
									<input id="registration_amount" type="number" class="form-control"
										   placeholder="300" />
								</div>
								<div class="form-group">
									<button type="button" class="btn btn-primary btn-sm" id="submit_butt">
										<i class="fa fa-save"> </i>
										Submit
									</button>
								</div>
								<div class="form-group">
									<div id="message">

									</div>
								</div>
 							</form>
						</div>
					</div>
          </div>
          <!-- /page content -->
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='js/memberships/create.js')}}"></script>
{% endblock scripts %}