{% extends "layouts/layout.html" %}
{% block content %}
          <div class="right_col" role="main">
                    <div class="page-title">
						<div class="title_left">
							<h3>Membership Plans</h3>
						</div>
						<div class="title_right">
							<div class="col-md-5 col-sm-5  form-group pull-right top_search">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Search for...">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">Go!</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12 col-sm-12 ">
							<table class="table table-responsive">
								<thead>
									<tr>
										<td>
											<strong>
												<i class="fa fa-info-circle"> </i>
												Plan Name
											</strong>
										</td>
										<td>
											<strong>
												<i class="fa fa-info"> </i>
												Description
											</strong>
										</td>
										<td>
											<strong>
												<i class="fa fa-server"> </i>
												Total Members
											</strong>
										</td>
										<td>
											<strong>
												<i class="fa fa-calendar"> </i>
												Scheduled Day
											</strong>
										</td>
										<td>
											<strong>
												<i class="fa fa-adjust"> </i>
												Scheduled Term
											</strong>
										</td>
										<td>
											<strong>
												<i class="fa fa-money"> </i>
												Payment Amount
											</strong>
										</td>
										<td>
											<strong>
												<i class="fa fa-calendar"> </i>
												Date Created
											</strong>
										</td>
									</tr>
								</thead>
								<tbody>
									{% for plan in membership_plans %}
									<tr>
										<td>{{ plan.plan_name }}</td>
										<td>{{ plan.description }}</td>
										<td>{{ plan.total_members }}</td>
										<td>{{ plan.schedule_day }}</td>
										<td>{{ plan.schedule_term }}</td>
										<td>{{ plan.date_created }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>

          </div>
          <!-- /page content -->

{% endblock %}
