{% extends "layouts/layout.html" %}
{% block content %}
          <div class="right_col" role="main">
                    <div class="page-title">
						<div class="title_left">
							<h3>Tickets</h3>
						</div>
						<div class="title_right">
							<div class="col-md-5 col-sm-5  form-group pull-right top_search">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Search for...">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">Go!</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12 col-sm-12 ">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <td><strong><i class="fa fa-info"> </i> Topic</strong></td>
                                        <td><strong><i class="fa fa-info"> </i> Subject</strong></td>
                                        <td><strong><i class="fa fa-file"> </i> Message</strong></td>
                                        <td><strong><i class="fa fa-envelope"> </i> Email</strong></td>
                                        <td><strong><i class="fa fa-mobile-phone"> </i> Cell</strong></td>
                                        <td><strong><i class="fa fa-send"> </i> Response Sent</strong></td>
                                        <td><strong><i class="fa fa-asterisk"> </i> is_resolved</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ticket in tickets_list %}
                                            <tr>
                                                <td><a href="/help-desk/ticket/{{ ticket.ticket_id }}">{{ ticket.topic }}</a></td>
                                                <td>{{ ticket.subject }}</td>
                                                <td>{{ ticket.message }}</td>
                                                <td>{{ ticket.email }}</td>
                                                <td>{{ ticket.cell }}</td>
                                                <td>{{ ticket.response_sent }}</td>
                                                <td>{{ ticket.is_resolved }}</td>
                                            </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td><strong><i class="fa fa-info"> </i> Topic</strong></td>
                                        <td><strong><i class="fa fa-info"> </i> Subject</strong></td>
                                        <td><strong><i class="fa fa-file"> </i> Message</strong></td>
                                        <td><strong><i class="fa fa-envelope"> </i> Email</strong></td>
                                        <td><strong><i class="fa fa-mobile-phone"> </i> Cell</strong></td>
                                        <td><strong><i class="fa fa-send"> </i> Response Sent</strong></td>
                                        <td><strong><i class="fa fa-asterisk"> </i> is_resolved</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
          </div>
{% endblock %}
