

{% extends "layouts/layout.html" %}

{% block content %}

              <div class="right_col" role="main">
                  <div class="col-md-12">
                        <div class="row">

                          <div class="col-md-3 col-sm-6  col-lg-3">
                            <div class="tile-stats">
                              <div class="icon"><i class="fa fa-user"></i></div>
                              <div class="count">179</div>
                              <h3>Exchanges </h3>
                              <p>Total </p>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6  col-lg-3">
                            <div class="tile-stats">
                              <div class="icon"><i class="fa fa-user-plus"></i></div>
                              <div class="count">179</div>
                              <h3>Countries </h3>
                              <p>Total </p>
                            </div>
                          </div>

                          <div class="col-md-3 col-sm-6  col-lg-3">
                            <div class="tile-stats">
                              <div class="icon"><i class="fa fa-briefcase"></i></div>
                              <div class="count">179</div>
                              <h3>Buy Volumes </h3>
                              <p>Average Buy Volumes</p>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6  col-lg-3">
                            <div class="tile-stats">
                              <div class="icon"><i class="fa fa-line-chart"></i></div>
                              <div class="count">179</div>
                              <h3>Sell Volumes</h3>
                              <p>Average Sell Volumes </p>
                            </div>
                          </div>

                        </div>
                        <div id="exchanges_list">

                        </div>
                  </div>
              </div>

          <!-- /page content -->

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/dashboard/exchanges.js') }}"> </script>
{% endblock scripts %}
