{% extends "layouts/layout.html" %}
{% block content %}
          <div class="right_col" role="main">
                    <div class="page-title">
						<div class="title_left">
							<h3>Subscriptions</h3>
						</div>
						<div class="title_right">
							<div class="col-md-5 col-sm-5  form-group pull-right top_search">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Search for...">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">Go!</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12 col-sm-12 ">
							<table class="table table-responsive">
								<thead>
									<tr>
										<td><strong> <i class="fa fa-user"> </i> User </strong> </td>
										<td><strong><i class="fa fa-desktop"> </i> Plan </strong> </td>
										<td><strong> <i class="fa fa-server"> </i> Status </strong> </td>
										<td><strong> <i class="fa fa-calendar"> </i> Created </strong> </td>
										<td> <strong> <i class="fa fa-calendar"> </i> Start Date </strong> </td>
										<td> <strong> <i class="fa fa-credit-card"> </i> Payment Method </strong> </td>
									</tr>
								</thead>
								<tbody>
								{% for member in members_list %}
									<tr>
										<td>{{ member.user.names }}</td>
										<td>{{ member.plan.plan_name }}</td>
										<td>{{ member.status }}</td>
										<td>{{ member.date_created }}</td>
										<td>{{ member.plan_start_date }}</td>
										<td>{{ member.payment_method }}</td>
									</tr>
								{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<td><strong> <i class="fa fa-user"> </i> User </strong> </td>
										<td><strong><i class="fa fa-desktop"> </i> Plan </strong> </td>
										<td><strong> <i class="fa fa-server"> </i> Status </strong> </td>
										<td><strong> <i class="fa fa-calendar"> </i> Created </strong> </td>
										<td> <strong> <i class="fa fa-calendar"> </i> Start Date </strong> </td>
										<td> <strong> <i class="fa fa-credit-card"> </i> Payment Method </strong> </td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
          </div>
          <!-- /page content -->

{% endblock content %}
